In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
from pandas.api.types import CategoricalDtype

BEH_directory=r'C:\Users\fgobbo\OneDrive - University of Edinburgh\arena room files\ANALYSIS 2.0\Data\H2234\Allo\DLC'

#Read directory containing all beh vids and read in Meta.csv file loc
#BEH_directory = folder_name # What is the address of the directory containing videos 
#Meta_csv = pd.read_csv(os.path.join(BEH_directory,'h2230 allo ego LED.csv'))
Meta = pd.DataFrame({'Animal':'',
                        'Allo/Ego':'',
                        'Session':'',
                        'Stage':'',
                        'Trial':'',
                        'Combo':'', 
                        'Sandwell':'' 
                    }, index=[0])


for file in os.listdir(BEH_directory):
    if file[-4:]=='.csv':
        animal, session, combo_sandwell, stage, dlc = (file[:-4].split("_"))
        allo_ego = session[0]; session = session[1:]
        combo=combo_sandwell[:2]; sandwell=combo_sandwell[-1:]
        stage_part = stage[:-1]; trial = stage[-1:]
        print(animal, allo_ego, session, combo, sandwell,stage_part, trial)

        # check to see if trial data is already in meta


        add_meta = pd.DataFrame({'Animal':animal,
                            'Allo/Ego':allo_ego,
                            'Session':session,
                            'Stage':stage_part,
                            'Trial':trial,
                            'Combo':combo, 
                            'Sandwell':sandwell 
                        }, index=[0])
        Meta = Meta.append(add_meta)

order = CategoricalDtype( ['PRE', 'SAM', 'CHO', 'CTR', 'CTC', 'POS'], ordered=True)
        
Meta_csv= Meta.reset_index(drop=True)
Meta_csv=Meta_csv.drop([0])
Meta_csv['Stage'] = Meta_csv['Stage'].astype(order)
Meta_csv=Meta_csv.sort_values(['Session','Stage', 'Trial'])

Meta_csv.to_csv(os.path.join(BEH_directory, 'H2230_META.csv'), mode='w', header=True, index=False)
    
        #Isolate meta info

Meta_csv
    
#Save file                         
#Meta_csv.to_csv(os.path.join(folder_name,'meta', 'Meta.csv'), mode='w', header=True, index=False)

H2234 A 28 EN 1 CHO 2
H2234 A 28 SN 1 SAM 2
H2234 A 28 WN 1 CHO 1
H2234 A 28 WN 1 CHO 3
H2234 A 28 WN 1 CHO 4
H2234 A 28 WN 1 PRE 1
H2234 A 28 WN 1 PRE 2
H2234 A 28 WN 1 SAM 1
H2234 A 28 WN 1 SAM 3
H2234 A 29 EN 6 CHO 3
H2234 A 29 EN 6 CHO 4
H2234 A 29 EN 6 SAM 2
H2234 A 29 EN 6 SAM 3
H2234 A 29 SN 6 CHO 1
H2234 A 29 SN 6 PRE 1
H2234 A 29 SN 6 PRE 2
H2234 A 29 SN 6 SAM 1
H2234 A 29 WN 6 CHO 2
H2234 A 30 EN 2 CHO 3
H2234 A 30 EN 2 SAM 2
H2234 A 30 SN 2 CHO 2
H2234 A 30 SN 2 PRE 1
H2234 A 30 SN 2 PRE 2
H2234 A 30 SN 2 SAM 1
H2234 A 30 WN 2 CHO 1
H2234 A 30 WN 2 CHO 4
H2234 A 30 WN 2 SAM 3
H2234 A 31 EN 6 CHO 2
H2234 A 31 EN 6 CHO 4
H2234 A 31 EN 6 SAM 2
H2234 A 31 EN 6 SAM 3
H2234 A 31 SN 6 CHO 1
H2234 A 31 WN 6 CHO 3
H2234 A 31 WN 6 PRE 1
H2234 A 31 WN 6 PRE 2
H2234 A 31 WN 6 SAM 1
H2234 A 32 EN 1 CHO 5
H2234 A 32 EN 1 CHO 6
H2234 A 32 EN 1 PRE 1
H2234 A 32 EN 1 PRE 2
H2234 A 32 EN 1 SAM 1
H2234 A 32 SN 1 CHO 1
H2234 A 32 SN 1 CHO 3
H2234 A 32 WN 1 CHO 2
H2234 A 32 WN 1 CHO 4
H2234 A 32 WN 1 SAM 2
H2234 A 32 WN 1 SAM 3
H2234 A 33 EN 2 CHO 2
H2234 A 33 EN 2 SAM 3
H2234 A 33 SN 2 SAM 2
H2234 A 33 WN 2 CHO 1
H2234 A 33 WN 2 CHO 3
H2234 A 33 WN 2 CHO 4
H2234 A 33 WN 2 PRE 1
H2234 A 33 WN 2 PRE 2
H2234 A 33 WN 2 SAM 1
H2234 A 34 EN 1 CTC 1
H2234 A 34 EN 1 POS 1
H2234 A 34 EN 1 SAM 3
H2234 A 34 SN 1 CHO 3
H2234 A 34 SN 1 PRE 1
H2234 A 34 SN 1 PRE 2
H2234 A 34 SN 1 SAM 1
H2234 A 34 WN 1 CHO 1
H2234 A 34 WN 1 CHO 2
H2234 A 34 WN 1 CHO 4
H2234 A 34 WN 1 SAM 2

   Animal Allo/Ego Session Stage Trial Combo Sandwell
6   H2234        A      28   PRE     1    WN        1
7   H2234        A      28   PRE     2    WN        1
8   H2234        A      28   SAM     1    WN        1
2   H2234        A      28   SAM     2    SN        1
9   H2234        A      28   SAM     3    WN        1
..    ...      ...     ...   ...   ...   ...      ...
65  H2234        A      34   CHO     2    WN        1
60  H2234        A      34   CHO     3    SN        1
66  H2234        A      34   CHO     4    WN        1
57  H2234        A      34   CTC     1    EN        1
58  H2234        A      34   POS     1    EN        1

[67 rows x 7 columns]

In [4]:
Meta_csv.to_csv(os.path.join(BEH_directory, 'Meta.csv'), mode='w', header=True, index=False)